.no_links_blocker_warning {
    text-align: center;
    color: #b32d2e;
    animation: no_links_blocker_warning_blink .8s cubic-bezier(.36, .07, .19, .97) both;
}
@keyframes no_links_blocker_warning_blink {
    10%, 90% {
        transform: translateX(-1px);
    }
    20%, 80% {
        transform: translateX(2px);
    }
    30%, 50%, 70% {
        transform: translateX(-3px);
    }
    40%, 60% {
        transform: translateX(3px);
    }
}